{% extends 'base.html' %}
{% block main %}
{% include 'blocks/sidebar.html' %}
<div class="table">
    <div class="table-item">
        <h3>Table</h3>
        <ul>
            {% for card in table %}
            <li>{{card}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="table-item">
        <h3>Your Hand</h3>
        <div class="cards">
            <div class="cards-item">
                {% include 'blocks/game_hand.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}

