{% extends 'base.html' %}
{% block main %}
{% if end_game %}
    <div id="waiting_to_end" hx-get="{% url 'waiting_to_end' game_id=game.id %}" hx-trigger="every 3s" hx-refresh="always">
    {% include 'blocks/waiting_to_end.html' %}
    </div>
{% else %}
<div id="sidebar_update" hx-get="{% url 'sidebar_update' game_id=game.id %}" hx-trigger="every 3s" hx-refresh="always">
    {% include 'blocks/sidebar.html' %}
</div>
<div id="game_play_update" class="table" hx-get="{% url 'game_play_update' game_id=game.id %}" hx-trigger="every 3s" hx-refresh="always">
    {% include 'blocks/table.html'%}
</div>
{% endif %}
{% endblock main %}

