<h3>My Hand</h3>
{% if card_play_ready and playing_player.user == request.user %}
<ul>
    {% for card in hand %}
    {% if card in playable_cards %}
    <form method="post" action="{% url 'play_card' game_id=game.id %}">
        {% csrf_token %}
        <li><button type ="submit", name="play_card" value="{{ card.id }}">{{ card }}</button></li>
    </form>
    {% else %}
        <li>{{ card }}</li>
    {% endif %}
    {% endfor %}
</ul>
{% else %}
<ul>
    {% for card in hand %}
        <li>{{ card }}</li>
    {% endfor %}
{% endif %}