<div class="sidebar">
    <div class="sidebar-item">
        <h3>Game</h3>
        <ul>
            <li>ID: {{game.id}}</li>
            <li>Round: {{cur_round}}</li>
        </ul>
        <form hx-get="{% url 'deal' game_id=game.id %}" hx-target="#updated_sidebar">
            <input type="hidden" name="game_id" value="{{ game_id }}">
            <button type="submit" name="deal" value="deal">Deal</button>
        </form>
    </div>
    <div class="sidebar-item">
        <h3>Players</h3>
        <ul>
            {% for player in players %}
            <li>{{player.user.username}}</li>
            {% endfor %}
        </ul>
    </div>
</div>