<div class="table-item">
    <h3>Table</h3>
    <ul class="cur_cards">
        {% load static %}
        {% for player in playing_order %}
        {% if player.cur_card %}
        <li>{{player}}:<img class="cards" src="{% static 'cards/' %}{{player.cur_card.image}}"></li>
        {% else %}
        <li>{{player}}:<img class="cards" src="{% static 'cards/' %}back.png"></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="table-item">
    <div class="cards">
        <div class="cards-item">
            {% if cur_round.num != 1 %}
            {% include 'blocks/game_hand.html' %}
            {% else %}
            {% include 'blocks/game_hand_last.html' %}
            {% endif %}
        </div>
    </div>
</div>