<div class="flex flex-col">
    <div class="w-full">
        <h3 class="text-xl font-semibold">Table</h3>
        <ul class="flex justify-start">
            {% load static %}
            {% for player in playing_order %}
            {% if player.cur_card %}
            <li class="mx-3 my-2">{{player}}:<img src="{% static 'cards/' %}{{player.cur_card.image}}"></li>
            {% else %}
            <li class="mx-3 my-2">{{player}}:<img src="{% static 'cards/' %}back.png"></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="">
        {% if cur_round.num != 1 %}
        {% include 'blocks/game_hand.html' %}
        {% else %}
        {% include 'blocks/game_hand_last.html' %}
        {% endif %}
    </div>
</div>